@charset "utf-8";
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #7C0000;
    
  line-height: 1.5;
    font-weight: 900;
}
h1 {
  color: #000;
  font-size: 16px;
  margin-bottom: -15px;
    font-weight: 700;
}
p {
  font-size: 10px;
  color: #000;
  max-width: 400px;
  margin-bottom: -5px;
    font-weight: 400;
}
p::before {
  content: "★"; /* Use any symbol here */
}
pre {
  color: red;
}
q {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  color: #000;
}
q:after {
  content: "]";
}
q::before {
  content: "[";
}